import(survival)
importFrom("RColorBrewer", brewer.pal)
importFrom("graphics", "box", "lines", "par", "plot", "polygon",
           "text", "title")
importFrom("stats", "as.formula", "delete.response", "model.frame",
           "model.matrix", "model.offset", "model.response", "rnorm",
           "terms", "time")
importFrom("utils", "flush.console", "head", "tail")
useDynLib(mstate)
export(msprep, events, paths, expand.covs, msfit, mssample, msboot, probtrans, Cuminc, redrank,
       trans.comprisk, trans.illdeath, transMat, crprep, ELOS, xsect, cutLMms, LMAJ)
S3method(plot, msfit)
S3method(plot, probtrans)
S3method(plot, Cuminc)
S3method(summary, msfit)
S3method(summary, probtrans)
S3method(summary, Cuminc)
S3method(print, msdata)
S3method(print, Cuminc)
S3method(crprep, default)
S3method(expand.covs, default)
S3method(expand.covs, msdata)
